Unit/Unit/EnhancementCRM/HelperUnit/Service References/ZPST_CRM_BOM_COMPONENT_PRICE/zpst_fm_006_v2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__zpst_fm_006_v2">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__zpst_fm_006_v2_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZPST_FM_006_v2">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>0017A47700401EE9B3A52C3E01F28C0A</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZPST_FM_006">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char256">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="int8">
        <xsd:restriction base="xsd:long" />
      </xsd:simpleType>
      <xsd:element name="ZPST_FM_006">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CSRF_TOKEN" type="tns:char256" />
            <xsd:element name="MATNR" type="tns:char18" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZPST_FM_006Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AMOUNT" type="tns:int8" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZPST_FM_006">
    <wsdl:part name="parameters" element="tns:ZPST_FM_006" />
  </wsdl:message>
  <wsdl:message name="ZPST_FM_006Response">
    <wsdl:part name="parameter" element="tns:ZPST_FM_006Response" />
  </wsdl:message>
  <wsdl:portType name="ZPST_FM_006_v2">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZPST_FM_006_v2" />
    </wsp:Policy>
    <wsdl:operation name="ZPST_FM_006">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZPST_FM_006" />
      </wsp:Policy>
      <wsdl:input message="tns:ZPST_FM_006" />
      <wsdl:output message="tns:ZPST_FM_006Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="zpst_fm_006_v2" type="tns:ZPST_FM_006_v2">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__zpst_fm_006_v2" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZPST_FM_006">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPST_FM_006_v2:ZPST_FM_006Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="zpst_fm_006_v2_soap12" type="tns:ZPST_FM_006_v2">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__zpst_fm_006_v2_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZPST_FM_006">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZPST_FM_006_v2:ZPST_FM_006Request" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="zpst_fm_006_v2">
    <wsdl:port name="zpst_fm_006_v2" binding="tns:zpst_fm_006_v2">
      <soap:address location="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zpst_fm_006_v2/120/zpst_fm_006_v2/zpst_fm_006_v2" />
    </wsdl:port>
    <wsdl:port name="zpst_fm_006_v2_soap12" binding="tns:zpst_fm_006_v2_soap12">
      <wsoap12:address location="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zpst_fm_006_v2/120/zpst_fm_006_v2/zpst_fm_006_v2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>