Unit/Unit/EnhancementCRM/HelperUnit/Service References/ZCRM_UPDATE_WARRANTY_DATE/zws_warranty_date_v31.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZWS_WARRANTY_DATE_V3">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZWS_WARRANTY_DATE_V3_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_WARRANTY_DATE_V3">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>0017A47700401EE9ABEB40D526E4900D</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZCRM_UPDATE_WARRANTY_DATE">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char256">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:time">
          <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZCRM_UPDATE_WARRANTY_DATE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CSRF_TOKEN" type="tns:char256" />
            <xsd:element name="I_EQUNR" type="tns:char18" />
            <xsd:element name="I_GWLDT" type="tns:char10" />
            <xsd:element name="I_GWLEN" type="tns:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZCRM_UPDATE_WARRANTY_DATEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DESCRIPTION" type="tns:char100" />
            <xsd:element name="RESULT" type="tns:char20" />
            <xsd:element name="SYNC_DATE" type="tns:date10" />
            <xsd:element name="SYNC_TIME" type="tns:time" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZCRM_UPDATE_WARRANTY_DATE">
    <wsdl:part name="parameters" element="tns:ZCRM_UPDATE_WARRANTY_DATE" />
  </wsdl:message>
  <wsdl:message name="ZCRM_UPDATE_WARRANTY_DATEResponse">
    <wsdl:part name="parameter" element="tns:ZCRM_UPDATE_WARRANTY_DATEResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_WARRANTY_DATE_V3">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_WARRANTY_DATE_V3" />
    </wsp:Policy>
    <wsdl:operation name="ZCRM_UPDATE_WARRANTY_DATE">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZCRM_UPDATE_WARRANTY_DATE" />
      </wsp:Policy>
      <wsdl:input message="tns:ZCRM_UPDATE_WARRANTY_DATE" />
      <wsdl:output message="tns:ZCRM_UPDATE_WARRANTY_DATEResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_WARRANTY_DATE_V3" type="tns:ZWS_WARRANTY_DATE_V3">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_WARRANTY_DATE_V3" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZCRM_UPDATE_WARRANTY_DATE">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_WARRANTY_DATE_V3:ZCRM_UPDATE_WARRANTY_DATERequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_WARRANTY_DATE_V3_soap12" type="tns:ZWS_WARRANTY_DATE_V3">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_WARRANTY_DATE_V3_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZCRM_UPDATE_WARRANTY_DATE">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWS_WARRANTY_DATE_V3:ZCRM_UPDATE_WARRANTY_DATERequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_WARRANTY_DATE_V3">
    <wsdl:port name="ZWS_WARRANTY_DATE_V3" binding="tns:ZWS_WARRANTY_DATE_V3">
      <soap:address location="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zws_warranty_date_v3/150/zws_warranty_date_v3/zws_warranty_date_v3" />
    </wsdl:port>
    <wsdl:port name="ZWS_WARRANTY_DATE_V3_soap12" binding="tns:ZWS_WARRANTY_DATE_V3_soap12">
      <wsoap12:address location="http://tnsapdtn:8000/sap/bc/srt/rfc/sap/zws_warranty_date_v3/150/zws_warranty_date_v3/zws_warranty_date_v3" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>